

<div class="col-md-4 mx-auto">
    <div class="card" style="width: 18rem;">
        <h5 class="card-title">Ingrese los datos</h5>
        <form action="/data/new-data" method="POST" autocomplete="off">
            <input type="hidden" name="_id" >
            <div class="form-group">
                <label>Entidad</label>
                <input type="text" class="form-control" name="entidad" placeholder="Entidad" >
            </div>
            <div class="form-group">
                <label>Año</label>
                <input type="text" class="form-control" name="anio" placeholder="Año" >
            </div>
            <div class="form-group">
                <label>Total</label>
                <input type="text" class="form-control" name="total" placeholder="Total" >
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Mujeres</label>
                    <input type="text" class="form-control" name="mujeres" placeholder="Mujeres" >
                </div>
                <div class="form-group col-md-6">
                    <label>Hombres</label>
                    <input type="text" class="form-control" name="hombres" placeholder="Hombres" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>% Mujeres</label>
                    <input type="text" class="form-control" name="p_mujeres" placeholder="% Mujeres" >
                </div>
                <div class="form-group col-md-6">
                    <label>% Hombres</label>
                    <input type="text" class="form-control" name="p_hombres" placeholder="% Hombres" >
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info"> Submit</button>
                
            </div>
        </form>
    </div>
        </div>
