<<<<<<< HEAD
<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript Technologies</p>
  <hr class="my-4" />
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
    doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
=======
<div class="card card-body p-5 mt-4 mx-auto"  style="width: 800px">
    <h1 class="display-4">Equidad de genero</h1>
    <p class="lead">
        Objetivo 5: Lograr la igualdad entre los géneros y empoderar a todas las mujeres y las niñas.
    </p>
    <hr class="my-4" />
    <p>
        La igualdad de género no solo es un derecho humano fundamental, sino que es uno de los fundamentos esenciales para construir un mundo pacífico, próspero y sostenible.
    </p>
    <div>
        <a class="btn btn-primary btn-lg"
           href="/auth/signup"
           role="button">Register</a>
    </div>
>>>>>>> 696f430e59529cfab3c24c770fa8ada510704b87
</div>